/* Style the table of contents container */
.toc {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Style the list items in the TOC */
.toc ul {
    list-style-type: none;
    padding: 0;
}

.toc li {
    margin: 5px 0;
}

/* Style the links in the TOC */
.toc a {
    text-decoration: none !important;
    color: #0073e6;
}

/* Progress bar style */
.toc-progress-bar {
    height: 4px; /* Adjust the height as needed */
    background: #e64d00; /* Progress bar color */
    width: 0; /* Initial width is 0 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
